In [29]:
#@title Packages

import pandas as pd
import numpy as np
import pandas_datareader.data as web
from datetime import datetime, timedelta
import re
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

In [30]:
#@title Read Dataset

stock_data = pd.read_csv("../Data/dataset1.csv", decimal=',')

print(stock_data.head)
print(stock_data.shape)
print(stock_data.dtypes)

<bound method NDFrame.head of                        Date    Open    High     Low   Close   Volume
0       2020/04/01 16:00:00  110,36  113,57  109,53  111,32  3777954
1       2020/04/02 16:00:00  110,66  115,55  110,45   115,3  3990340
2       2020/04/03 16:00:00  113,71  114,91  111,11  111,86  3588252
3       2020/04/06 16:00:00  115,26   118,1  114,46  117,64  5639666
4       2020/04/07 16:00:00  123,32  125,95  120,73   120,9  5496738
...                     ...     ...     ...     ...     ...      ...
655989  2025/05/23 16:00:00  160.55  163.06  160.14  162.58  2732205
655990  2025/05/27 16:00:00   164.0  166.89  163.83  166.26  2323105
655991  2025/05/28 16:00:00  166.16  166.65  164.52   165.4  1723859
655992  2025/05/29 16:00:00  165.92  167.79  165.11  167.14  2450453
655993  2025/05/30 16:00:00  166.42  169.79  165.34  168.63  5467823

[655994 rows x 6 columns]>
(655994, 6)
Date      object
Open      object
High      object
Low       object
Close     object
Volume    object
dtype: object

/var/folders/9b/b9bk135x3gd6hxg4hr0846t80000gn/T/ipykernel_50724/2074539202.py:3: DtypeWarning: Columns (1,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  stock_data = pd.read_csv("/Users/pedroalexleite/Desktop/Tese/Dados/dataset1.csv", decimal=',')

In [31]:
#@title Remove 1259th Lines

#Dataset1
n = 1299
indices_to_drop = range(n - 1, len(stock_data), n)
stock_data = stock_data.drop(indices_to_drop).reset_index(drop=True)

print(stock_data.head)
print(stock_data.shape)
print(stock_data.dtypes)

<bound method NDFrame.head of                        Date    Open    High     Low   Close   Volume
0       2020/04/01 16:00:00  110,36  113,57  109,53  111,32  3777954
1       2020/04/02 16:00:00  110,66  115,55  110,45   115,3  3990340
2       2020/04/03 16:00:00  113,71  114,91  111,11  111,86  3588252
3       2020/04/06 16:00:00  115,26   118,1  114,46  117,64  5639666
4       2020/04/07 16:00:00  123,32  125,95  120,73   120,9  5496738
...                     ...     ...     ...     ...     ...      ...
655485  2025/05/23 16:00:00  160.55  163.06  160.14  162.58  2732205
655486  2025/05/27 16:00:00   164.0  166.89  163.83  166.26  2323105
655487  2025/05/28 16:00:00  166.16  166.65  164.52   165.4  1723859
655488  2025/05/29 16:00:00  165.92  167.79  165.11  167.14  2450453
655489  2025/05/30 16:00:00  166.42  169.79  165.34  168.63  5467823

[655490 rows x 6 columns]>
(655490, 6)
Date      object
Open      object
High      object
Low       object
Close     object
Volume    object
dtype: object

In [32]:
#@title Convert the Strings to Floats

stock_data['Date'] = pd.to_datetime(stock_data['Date'])

columns_to_convert = ["Open", "High", "Low", "Close", "Volume"]
for column in columns_to_convert:
    stock_data[column] = stock_data[column].str.replace(',', '.').astype(float)

print(stock_data.head)
print(stock_data.shape)
print(stock_data.dtypes)

<bound method NDFrame.head of                       Date    Open    High     Low   Close     Volume
0      2020-04-01 16:00:00  110.36  113.57  109.53  111.32  3777954.0
1      2020-04-02 16:00:00  110.66  115.55  110.45  115.30  3990340.0
2      2020-04-03 16:00:00  113.71  114.91  111.11  111.86  3588252.0
3      2020-04-06 16:00:00  115.26  118.10  114.46  117.64  5639666.0
4      2020-04-07 16:00:00  123.32  125.95  120.73  120.90  5496738.0
...                    ...     ...     ...     ...     ...        ...
655485 2025-05-23 16:00:00     NaN     NaN     NaN     NaN        NaN
655486 2025-05-27 16:00:00     NaN     NaN     NaN     NaN        NaN
655487 2025-05-28 16:00:00     NaN     NaN     NaN     NaN        NaN
655488 2025-05-29 16:00:00     NaN     NaN     NaN     NaN        NaN
655489 2025-05-30 16:00:00     NaN     NaN     NaN     NaN        NaN

[655490 rows x 6 columns]>
(655490, 6)
Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [33]:
#@title Take out the Hour from Date

stock_data['Date'] = pd.to_datetime(stock_data['Date'], errors='coerce')
stock_data['Date'] = stock_data['Date'].dt.strftime('%Y/%m/%d')

print(stock_data.head)

<bound method NDFrame.head of               Date    Open    High     Low   Close     Volume
0       2020/04/01  110.36  113.57  109.53  111.32  3777954.0
1       2020/04/02  110.66  115.55  110.45  115.30  3990340.0
2       2020/04/03  113.71  114.91  111.11  111.86  3588252.0
3       2020/04/06  115.26  118.10  114.46  117.64  5639666.0
4       2020/04/07  123.32  125.95  120.73  120.90  5496738.0
...            ...     ...     ...     ...     ...        ...
655485  2025/05/23     NaN     NaN     NaN     NaN        NaN
655486  2025/05/27     NaN     NaN     NaN     NaN        NaN
655487  2025/05/28     NaN     NaN     NaN     NaN        NaN
655488  2025/05/29     NaN     NaN     NaN     NaN        NaN
655489  2025/05/30     NaN     NaN     NaN     NaN        NaN

[655490 rows x 6 columns]>

In [34]:
#@title Add Symbols

df_basic = pd.read_csv("../Data/sp500.csv")
symbols = df_basic['Symbol'].unique()

repeated_symbols = [symbol for symbol in symbols for _ in range(1298)]
stock_data['Symbol'] = repeated_symbols

print(stock_data.head)

<bound method NDFrame.head of               Date    Open    High     Low   Close     Volume Symbol
0       2020/04/01  110.36  113.57  109.53  111.32  3777954.0    MMM
1       2020/04/02  110.66  115.55  110.45  115.30  3990340.0    MMM
2       2020/04/03  113.71  114.91  111.11  111.86  3588252.0    MMM
3       2020/04/06  115.26  118.10  114.46  117.64  5639666.0    MMM
4       2020/04/07  123.32  125.95  120.73  120.90  5496738.0    MMM
...            ...     ...     ...     ...     ...        ...    ...
655485  2025/05/23     NaN     NaN     NaN     NaN        NaN    ZTS
655486  2025/05/27     NaN     NaN     NaN     NaN        NaN    ZTS
655487  2025/05/28     NaN     NaN     NaN     NaN        NaN    ZTS
655488  2025/05/29     NaN     NaN     NaN     NaN        NaN    ZTS
655489  2025/05/30     NaN     NaN     NaN     NaN        NaN    ZTS

[655490 rows x 7 columns]>

In [35]:
#@title Drop Symbols Without Data

stock_data = stock_data.dropna(subset=['Open'])

print(stock_data["Symbol"].nunique())

455

In [36]:
#@title Drop Symbols With Insufficient Data

symbol_counts = stock_data['Symbol'].value_counts()
incomplete_symbols = symbol_counts[symbol_counts != 1298]
incomplete_symbol_names = incomplete_symbols.index.tolist()
stock_data= stock_data[~stock_data['Symbol'].isin(incomplete_symbol_names)]

print(stock_data["Symbol"].nunique())

403

In [37]:
#@title Imput Weekends with the Values in the Last Week Day

def fill_missing_dates(group):
    group['Date'] = pd.to_datetime(group['Date'], errors='coerce') 
    if group['Date'].isna().all():  
        return group 
    full_date_range = pd.date_range(
        start=group['Date'].min(), 
        end=group['Date'].max(), 
        freq='D'
    )
    full_group = pd.DataFrame({'Date': full_date_range})
    full_group = pd.merge(full_group, group, on='Date', how='left')
    full_group = full_group.ffill()
    return full_group

stock_data = stock_data.groupby('Symbol', group_keys=False).apply(fill_missing_dates)
print(stock_data.head(10))

        Date   Open   High    Low  Close     Volume Symbol
0 2020-04-01  69.47  70.23  68.15  68.92  2173595.0      A
1 2020-04-02  68.27  72.45  68.14  72.29  1840311.0      A
2 2020-04-03  71.71  72.33  69.66  70.42  2052649.0      A
3 2020-04-04  71.71  72.33  69.66  70.42  2052649.0      A
4 2020-04-05  71.71  72.33  69.66  70.42  2052649.0      A
5 2020-04-06  72.97  74.99  72.25  74.36  2312033.0      A
6 2020-04-07  76.61  77.56  74.02  74.03  2458009.0      A
7 2020-04-08  74.17  77.17  72.75  76.69  2702975.0      A
8 2020-04-09  76.43  78.72  76.23  78.33  2399963.0      A
9 2020-04-10  76.43  78.72  76.23  78.33  2399963.0      A

/var/folders/9b/b9bk135x3gd6hxg4hr0846t80000gn/T/ipykernel_50724/2042865809.py:17: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  stock_data = stock_data.groupby('Symbol', group_keys=False).apply(fill_missing_dates)

In [38]:
#@title Save CSV File

stock_data.to_csv('../Data/dataset2.csv', index=False)